.articles_list {
    box-sizing: border-box;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .article {
        box-sizing: border-box;
        width: calc(100% - 20px);
        height: 190px;
        max-height: 190px;
        border: 1px solid $color_slate_gray;
        border-radius: 10px;
        color: $color_black_leather_jacket;
        margin: 0 10px 10px;
        
        // Si el dispositivo es una SMARTPHONE "tumbado".
        @include if_mobile_landscape {
            width: calc((100% / 2) - 20px);
        }

        // Si el dispositivo es una TABLET "tumbada".
        @include if_tablet_landscape {
            width: calc((100% / 3) - 20px);
        }

        /* Flexbox */
        display: flex;    
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .article_img_div {
            width: 45%;
            padding: 10px;
            
            .article_img {
                width: 100%;
                height: auto;
                max-height: 140px;
                max-width: 140px;
                border-radius: 20px;
            }
        }

        .article_info {
            width: 55%;
            padding: 10px;

            display: flex;
            flex-direction: column;

            .article_title {
                font-family: $custom_font_family_bold;
                font-size: $font_size_H4;
            }

            .article_summary {
                padding: 5px 0 5px 0;
            }

            .article_date {
            }

            .article_comments {
                padding: 5px 0 0 0;
            }

            .article_author {
                padding-top: 5px;

                /* Flexbox */
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .author_name {
                }

                .author_img {
                    width: 100%;
                    height: auto;
                    max-width: 30px;
                    max-height: 30px;
                }
            }

            .like_button {
                padding: 2px;
                font-size: $font_size_base;
                margin: 5px 0px 0px 0px;
                float:right;
            }
        }
    }
}

.pages_browser {
    font-family: $custom_font_family_bold;
    color: $color_black_leather_jacket;
    text-align: center;

    .browser_logo {
        max-width: 20px;
        max-height: 20px;
        padding: 2px;
        vertical-align: middle;
    }
}