.articles_list {
    box-sizing: border-box;
    margin-top: 180px;
    padding: 10px;


    .article {
        box-sizing: border-box;
        width: 100%;
        max-height: 150px;
        border: 1px solid $color_slate_gray;
        border-radius: 10px;
        font-family: $body_font_family;
        font-size: $font_size_small;
        color: $color_black_leather_jacket;


        /* Flexbox */
        display: flex;
        justify-content: space-around;
        align-items: center;

        .article_img {
            width: 100%;
            height: auto;
            max-width: 150px;
            max-height: 150px; 
            border-radius: 10px;
        }

        .article_info {
            width: 70%;
            padding: 10px;

            .article_title {
            }

            .article_summary {
            }

            .article_date {
            }

            .article_comments {
            }

            .article_author {

                /* Flexbox */
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .author_name {
                }

                .author_img {
                    width: 100%;
                    height: auto;
                    max-width: 30px;
                    max-height: 30px;
                }
            }

            .like_button {
                border: 2px solid $color_slate_gray;
                border-radius: 5px;
                float:right;
            }
        }
    }
}