.articles_list {
    box-sizing: border-box;

    .article {
        box-sizing: border-box;
        width: calc(100% - 20px);
        height: 175px;
        max-height: 175px;
        border: 1px solid $color_slate_gray;
        border-radius: 10px;
        font-family: $body_font_family;
        font-size: $font_size_small;
        color: $color_black_leather_jacket;
        margin: 0 10px 10px;
        float:left;
        
        // Si el dispositivo es una SMARTPHONE "tumbado".
        @include if_mobile_landscape {
            font-size: $font_size_base;
        }

        // Si el dispositivo es una TABLET "tumbada".
        @include if_tablet_landscape {
            width: calc((100% / 2) - 20px);
            height: 210px;
            max-height: 210px;
        }

        /* Flexbox */
        display: flex;
        justify-content: space-between;
        align-items: center;

        .article_img {
            width: 100%;
            height: auto;
            max-width: 175px;
            max-height: 175px; 
            border-radius: 10px;

            // Si el dispositivo es una TABLET "tumbada".
            @include if_tablet_landscape {
                max-width: 210px;
                height: 210px;
                max-height: 210px;
            }
        }

        .article_info {
            width: 70%;
            padding: 10px;

            .article_title {
                font-weight: bold;
                font-size: $font_size_H5;
            }

            .article_summary {
                padding: 5px 0 5px 0;
            }

            .article_date {
            }

            .article_comments {
                padding: 5px 0 0 0;
            }

            .article_author {
                padding-top: 5px;

                /* Flexbox */
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .author_name {
                }

                .author_img {
                    width: 100%;
                    height: auto;
                    max-width: 30px;
                    max-height: 30px;
                }
            }

            .like_button {
                border: 2px solid $color_slate_gray;
                border-radius: 5px;
                float:right;
            }
        }
    }

    .pages_browser {
        font-family: $body_font_family;
        font-size: $font_size_small;
        color: $color_black_leather_jacket;
        text-align: center;

        .browser_logo {
            max-width: 20px;
            max-height: 20px;
            padding: 2px;
            vertical-align: middle;
        }
    }
}