.comments_form {
    font-size: $font_size_large;

    .iu_status {

        &.error {
            text-align: center;
            background-color: $color_3_for_coral_dark;
            padding: 10px;
            border: 2px solid $color_president_assassin;
            border-radius: 5px;
            margin: 10px 25px;
            display: none;
        }

        &.loading {
            text-align: center;
            padding: 10px;
            margin: 10px 25px;
            display: none;
        }
    }

    // Mostramos el estado cuando se produzca.
    // Cuando el formulario (.comments_form) tenga el estado .error
    // Se muestra el estado error.
    // Es decir cuando a la clase comments_form le insertemos la clase .error
    &.error {
        // Se muestra el estado de error.
        .iu_status.error {
            display: block;
        }
    }

    &.loading {
        .iu_status.loading {
            display: block;
        }
    }

    .form_title {
        padding: 5px;
        font-size: $font_size_H3;
    }

    @include if_tablet_landscape {
        .form_control_group {
            box-sizing: border-box;
            width: 33%;
            display: inline-block;
            padding: 0 5px;
        }

        .send_button {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            button {
                width: 25%;
            }
        }
    }
}