.article_detail {
    font-size: $font_size_large;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    .article_detail_title {
        font-family: $custom_font_family_bold;
        font-size: $font_size_H3;
        text-align: center;
    }

    .article_detail_author {
        padding: 10px;
        
        /* Flexbox */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .author_detail_img {
            width: 75px;
            height: 75px;
            border:1px solid black;
            border-radius: 50%;
            padding: 5px;
            margin-bottom: 10px;
        }
    }

    .article_detail_date {
        
    }

    .article_detail_likes {

    }

    .article_detail_image {
        width: 100%;
        height:auto;
    }

    .article_detail_text {
        padding: 10px;
        text-align: justify;
    }
}