.footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    background-color: $color_slate_gray;
    font-size: $font_size_large;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .return_link {
        color: $color_black_leather_jacket;
    }
}