<section class="articles_list">
        <article class="article">
            <div class="article_img_div">
                <img class="article_img" src="img/customArticleImage.png" alt="Article_Image">
            </div>
            <div class="article_info">
                <div class="article_title">
                    "La Vida Moderna"
                </div>
                <div class="article_summary">
                    <p>Sinopsis del programa de radio de la cadena SER presentado por David Broncano junto con Ignatius Farray y Quequé.</p>
                </div>
                <div class="article_date">
                    <label>Publicado:</label>
                    <time datetime="16/08/2017">Hace x dias</time>
                </div>
                <div class="article_comments">
                    <label>Nº Comentarios:</label>
                    <span class="number_comments">10</span>
                </div>
                <div class="article_author">
                    <img class="author_img" src="img/customAuthorImage.png" alt="">
                    <div class="author_name">
                        Javier Ramón Sola
                    </div>
                </div>
                <div class="article_button">
                    <button class="like_button">
                        ¡Me gusta!
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article_img_div">
                <img class="article_img" src="img/customArticleImage.png" alt="Article_Image">
            </div>
            <div class="article_info">
                <div class="article_title">
                    "La Vida Moderna"
                </div>
                <div class="article_summary">
                    <p>Sinopsis del programa de radio de la cadena SER presentado por David Broncano junto con Ignatius Farray y Quequé.</p>
                </div>
                <div class="article_date">
                    <label>Publicado:</label>
                    <time datetime="16/08/2017">Hace x dias</time>
                </div>
                <div class="article_comments">
                    <label>Nº Comentarios:</label>
                    <span class="number_comments">10</span>
                </div>
                <div class="article_author">
                    <img class="author_img" src="img/customAuthorImage.png" alt="">
                    <div class="author_name">
                        Javier Ramón Sola
                    </div>
                </div>
                <div class="article_button">
                    <button class="like_button">
                        ¡Me gusta!
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article_img_div">
                <img class="article_img" src="img/customArticleImage.png" alt="Article_Image">
            </div>
            <div class="article_info">
                <div class="article_title">
                    "La Vida Moderna"
                </div>
                <div class="article_summary">
                    <p>Sinopsis del programa de radio de la cadena SER presentado por David Broncano junto con Ignatius Farray y Quequé.</p>
                </div>
                <div class="article_date">
                    <label>Publicado:</label>
                    <time datetime="16/08/2017">Hace x dias</time>
                </div>
                <div class="article_comments">
                    <label>Nº Comentarios:</label>
                    <span class="number_comments">10</span>
                </div>
                <div class="article_author">
                    <img class="author_img" src="img/customAuthorImage.png" alt="">
                    <div class="author_name">
                        Javier Ramón Sola
                    </div>
                </div>
                <div class="article_button">
                    <button class="like_button">
                        ¡Me gusta!
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article_img_div">
                <img class="article_img" src="img/customArticleImage.png" alt="Article_Image">
            </div>
            <div class="article_info">
                <div class="article_title">
                    "La Vida Moderna"
                </div>
                <div class="article_summary">
                    <p>Sinopsis del programa de radio de la cadena SER presentado por David Broncano junto con Ignatius Farray y Quequé.</p>
                </div>
                <div class="article_date">
                    <label>Publicado:</label>
                    <time datetime="16/08/2017">Hace x dias</time>
                </div>
                <div class="article_comments">
                    <label>Nº Comentarios:</label>
                    <span class="number_comments">10</span>
                </div>
                <div class="article_author">
                    <img class="author_img" src="img/customAuthorImage.png" alt="">
                    <div class="author_name">
                        Javier Ramón Sola
                    </div>
                </div>
                <div class="article_button">
                    <button class="like_button">
                        ¡Me gusta!
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article_img_div">
                <img class="article_img" src="img/customArticleImage.png" alt="Article_Image">
            </div>
            <div class="article_info">
                <div class="article_title">
                    "La Vida Moderna"
                </div>
                <div class="article_summary">
                    <p>Sinopsis del programa de radio de la cadena SER presentado por David Broncano junto con Ignatius Farray y Quequé.</p>
                </div>
                <div class="article_date">
                    <label>Publicado:</label>
                    <time datetime="16/08/2017">Hace x dias</time>
                </div>
                <div class="article_comments">
                    <label>Nº Comentarios:</label>
                    <span class="number_comments">10</span>
                </div>
                <div class="article_author">
                    <img class="author_img" src="img/customAuthorImage.png" alt="">
                    <div class="author_name">
                        Javier Ramón Sola
                    </div>
                </div>
                <div class="article_button">
                    <button class="like_button">
                        ¡Me gusta!
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article_img_div">
                <img class="article_img" src="img/customArticleImage.png" alt="Article_Image">
            </div>
            <div class="article_info">
                <div class="article_title">
                    "La Vida Moderna"
                </div>
                <div class="article_summary">
                    <p>Sinopsis del programa de radio de la cadena SER presentado por David Broncano junto con Ignatius Farray y Quequé.</p>
                </div>
                <div class="article_date">
                    <label>Publicado:</label>
                    <time datetime="16/08/2017">Hace x dias</time>
                </div>
                <div class="article_comments">
                    <label>Nº Comentarios:</label>
                    <span class="number_comments">10</span>
                </div>
                <div class="article_author">
                    <img class="author_img" src="img/customAuthorImage.png" alt="">
                    <div class="author_name">
                        Javier Ramón Sola
                    </div>
                </div>
                <div class="article_button">
                    <button class="like_button">
                        ¡Me gusta!
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article_img_div">
                <img class="article_img" src="img/customArticleImage.png" alt="Article_Image">
            </div>
            <div class="article_info">
                <div class="article_title">
                    "La Vida Moderna"
                </div>
                <div class="article_summary">
                    <p>Sinopsis del programa de radio de la cadena SER presentado por David Broncano junto con Ignatius Farray y Quequé.</p>
                </div>
                <div class="article_date">
                    <label>Publicado:</label>
                    <time datetime="16/08/2017">Hace x dias</time>
                </div>
                <div class="article_comments">
                    <label>Nº Comentarios:</label>
                    <span class="number_comments">10</span>
                </div>
                <div class="article_author">
                    <img class="author_img" src="img/customAuthorImage.png" alt="">
                    <div class="author_name">
                        Javier Ramón Sola
                    </div>
                </div>
                <div class="article_button">
                    <button class="like_button">
                        ¡Me gusta!
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article_img_div">
                <img class="article_img" src="img/customArticleImage.png" alt="Article_Image">
            </div>
            <div class="article_info">
                <div class="article_title">
                    "La Vida Moderna"
                </div>
                <div class="article_summary">
                    <p>Sinopsis del programa de radio de la cadena SER presentado por David Broncano junto con Ignatius Farray y Quequé.</p>
                </div>
                <div class="article_date">
                    <label>Publicado:</label>
                    <time datetime="16/08/2017">Hace x dias</time>
                </div>
                <div class="article_comments">
                    <label>Nº Comentarios:</label>
                    <span class="number_comments">10</span>
                </div>
                <div class="article_author">
                    <img class="author_img" src="img/customAuthorImage.png" alt="">
                    <div class="author_name">
                        Javier Ramón Sola
                    </div>
                </div>
                <div class="article_button">
                    <button class="like_button">
                        ¡Me gusta!
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article_img_div">
                <img class="article_img" src="img/customArticleImage.png" alt="Article_Image">
            </div>
            <div class="article_info">
                <div class="article_title">
                    "La Vida Moderna"
                </div>
                <div class="article_summary">
                    <p>Sinopsis del programa de radio de la cadena SER presentado por David Broncano junto con Ignatius Farray y Quequé.</p>
                </div>
                <div class="article_date">
                    <label>Publicado:</label>
                    <time datetime="16/08/2017">Hace x dias</time>
                </div>
                <div class="article_comments">
                    <label>Nº Comentarios:</label>
                    <span class="number_comments">10</span>
                </div>
                <div class="article_author">
                    <img class="author_img" src="img/customAuthorImage.png" alt="">
                    <div class="author_name">
                        Javier Ramón Sola
                    </div>
                </div>
                <div class="article_button">
                    <button class="like_button">
                        ¡Me gusta!
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article_img_div">
                <img class="article_img" src="img/customArticleImage.png" alt="Article_Image">
            </div>
            <div class="article_info">
                <div class="article_title">
                    "La Vida Moderna"
                </div>
                <div class="article_summary">
                    <p>Sinopsis del programa de radio de la cadena SER presentado por David Broncano junto con Ignatius Farray y Quequé.</p>
                </div>
                <div class="article_date">
                    <label>Publicado:</label>
                    <time datetime="16/08/2017">Hace x dias</time>
                </div>
                <div class="article_comments">
                    <label>Nº Comentarios:</label>
                    <span class="number_comments">10</span>
                </div>
                <div class="article_author">
                    <img class="author_img" src="img/customAuthorImage.png" alt="">
                    <div class="author_name">
                        Javier Ramón Sola
                    </div>
                </div>
                <div class="article_button">
                    <button class="like_button">
                        ¡Me gusta!
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </article>
</section>
<section class="pages_browser">
    1 - 2 - 3 - 4 - 5
    <img class="browser_logo" src="/img/webLogo2.png" alt="">
    6 - 7 - 8 - 9 - 10
</section>