<form novalidate class="comments_form">
    
    <div class="iu_status error">
        Se ha producido un error al enviar el comentario...
    </div>

    <div class="iu_status loading">
        Enviando comentario...
    </div>

    <div class="iu_status ideal">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" placeholder="Nombre" required>

        <label for="surname">Apellidos:</label>
        <input type="text" id="surname" name="surname" placeholder="Apellidos" required>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email" required>

        <label for="comment">Comentario:</label>
        <input type="text" id="comment" name="comment" placeholder="Mensaje" required>

        <button>Enviar</button>
    </div>
</form>