<div class="article_detail">
    <div class="article_detail_title">
        "La Vida Moderna"
    </div>
    <div class="article_detail_author">
        <img class="author_detail_img" src="img/stormtrooperUser.png" alt="">
        Javier Ramón Sola
    </div>
    <div class=""></div>
    <div class=""></div>
    <img class="article_detail_image" src="img/prueba.png" alt="">
    <div class="article_detail_text">
        <p>
            <strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi vitae fugiat non sequi a ipsa!.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!
        </p>
        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis!<a href="/">Distinctio</a> est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!
        </p>
        <br>
        <p>
            <i>Lorem ipsum dolor</i> sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!         
        </p>
    </div>
</div> 