<div class="details">
    <h1 class="article_title">"La Vida Moderna"</h1>
    <div class="article_author">
        <img class="author_img" src="img/customAuthorImage.png" alt="">
        <h2>Javier Ramón Sola</h2>
    </div>
    <img class="article_image_detail" src="img/customArticleImageDetail.png" alt="">
    <div class="article_content">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!

            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!
        </p>
        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!
        </p>
        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!         
        </p>
    </div>
    <!--<div class="list_comments">
    </div>
    @import "comment_list.html"
    <div class="form_comment">
    </div>
    @import "comment_form.html"-->
</div> 