<div class="article_detail">
    <div class="article_detail_title">
        <h1> "La Vida Moderna"</h1>
    </div>
    <div class="article_detail_author">
        <img class="author_detail_img" src="img/customAuthorImage.png" alt="">
        <h2>Javier Ramón Sola</h2>
    </div>
    <img class="article_detail_image" src="img/prueba.png" alt="">
    <div class="article_detail_text">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!

            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!
        </p>
        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!
        </p>
        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Neque, officiis! Distinctio est porro sequi perspiciatis omnis! Optio, 
            esse voluptatem provident, eaque iusto, 
            quasi error vitae fugiat non sequi a ipsa!         
        </p>
    </div>
</div> 