<header class="web_header">
    <div class="header_top">
        <div class="search_article">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="search" id="search_text" name="search_text" placeholder="Buscar...">
        </div>
        <div class="web_login"> 
            <a href="/">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a> | 
            <a href="/">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <div class="title">
        <div class="web_logo">
            <img class="img_logo" src="./img/webLogo.png">
        </div>
        <div class="web_title">
            <h1>Write It<span class="admiration">!</span></h1>
        </div>
    </div>

    <div>
        <nav class="main_menu">
            <a class="menu_item" href="index.html">Home</a>
            <a class="menu_item" href="article_details.html">Write It</a>
            <a class="menu_item" href="/">Top Artículos</a>
            <a class="menu_item" href="/">Categoría Uno</a>
            <a class="menu_item" href="/">Categoría Dos</a>
            <a class="menu_item" href="/">Categoría Tres</a>
            <a class="menu_item" href="/">Categoría Cuatro</a>
        </nav>
    </div>
</header>