body {
    font-family: $custom_font_family;
    font-size: $font_size_base;
    padding-top: 200px;
    padding-bottom: 30px;
}

strong {
    font-family: $custom_font_family_bold;
}

i {
    font-family: $custom_font_family_italic;
}

img, embed, object, video {
    // Se indica que el ancho maximo no supera el contenedor de la imagen.
    max-width: 100%;
}

form {
    padding: 10px;
}

label{
    box-sizing: border-box;
    font-family: $custom_font_family_bold;
    display:block;
    width: 100%;
    padding: 5px;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    border: 1px solid $color_president_assassin;
    border-radius: 5px;
    display: block;
    font-size: $font_size_large;

    &:focus {
        outline-color: $color_3_for_coral_dark;
    }
}

textarea {
    @extend input;
}

button {
    @extend input;
    background-color: $color_air_superiority_blue;
    border-color: $color_blue_purple;
    color: $color_white_bone; 
    &:focus {
        outline-color: $color_3_for_coral_dark;
    }
}

a {
    padding: 5px;
    text-decoration: none;
    color: $color_president_assassin;
}