body {
    font-family: $custom_font_family;
    font-size: $font_size_base;
    padding-top: 185px;
    padding-bottom: 30px;
}

img, embed, object, video {
    // Se indica que el ancho maximo no supera el contenedor de la imagen.
    max-width: 100%;
}

label {
    font-family: $custom_font_family_bold;
}

input {
    border: 1px solid $color_black_leather_jacket;
    padding: 2px;

    &:focus {
        outline-color: $color_red_logo;
    }
}

button {
    &:focus {
        outline-color: $color_red_logo;
    }
}

a {
    padding: 5px;
    text-decoration: none;
    color: $color_black_leather_jacket;
}