// Importamos Fuentes 
@font-face {
    font-family: "Bariol";
    src: url("./fonts/Bariol_Font/Bariol_Regular.otf") format("truetype");
}

@font-face {
    font-family: "Bariol_Bold";
    src: url("./fonts/Bariol_Font/Bariol_Bold.otf") format("truetype");
}

@font-face {
    font-family: "Bariol_Italic";
    src: url("./fonts/Bariol_Font/Bariol_Italic.otf") format("truetype");
}

@font-face {
    font-family: "Bariol_Bold_Italic";
    src: url("./fonts/Bariol_Font/Bariol_Bold_Italic.otf") format("truetype");
}

// Tipos de Fuentes.
$custom_font_family: "Bariol";
$custom_font_family_bold: "Bariol_Bold";
$custom_font_family_italic: "Bariol_Italic";
$custom_font_family_italic: "Bariol__Bold_Italic";
$second_font_family: "Calibri";

// Tamaño Base Fuentes:
$font_size_base: 12px;
$font_size_small: $font_size_base - 3px;
$font_size_large: $font_size_base + 3px;

// Tamaño TAG'S <H>
$font_size_H1: $font_size_base + 20px;
$font_size_H2: $font_size_base + 15px;
$font_size_H3: $font_size_base + 10px;
$font_size_H4: $font_size_base + 5px;
$font_size_H5: $font_size_base;

// Paleta de Colores:
$color_pale_lavender: #E3D7FF;
$color_blue_purple: #AFA2FF;
$color_air_superiority_blue: #7A89C2;
$color_slate_gray: #CCCCCC;
$color_black_leather_jacket: #2D312D;
$color_red_logo: red;

// Dimensiones dispositivos.
// Smartphone:
$smartphone_portrait_width: 375px;                          // Vertical.
$smartphone_landscape_width: 667px;                         // Horizonta.
// Tablet:
$tablet_portrait_width: $smartphone_landscape_width + 1;    // Vertical.
$tablet_landscape_width: 1024px;                            // Horizontal.

/* 
Cualquier "width" superior a 1024px se considera PC,TV, etc,
es decir, Desktop
*/